.pad {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padtop {
  padding-top: 10px;
}

.padbottom {
  padding-bottom: 10px;
}

h1 {
  font-family: Quicksand, sans-serif !important;
  display: block !important;
  font-size: 27px !important;
  margin-block-start: 0.83em !important;
  margin-block-end: 0.83em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  font-weight: 400 !important;
}

body {
  color: rgb(27, 77, 104) !important;
  font-family: "Ubuntu", sans-serif !important;
  background-color: #ffffff !important;
  font-size: 18px !important;
  text-decoration: none solid rgb(56, 63, 74);
  word-spacing: 0px;
}

.navbar {
  background-color: #ececec !important;
  border-radius: 15px;
}

.height {
  line-height: 40px;
}

.center {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.brand {
  font-weight: 600;
}

li {
  list-style-type: square;
}

.copyright {
  width: 552px;
  margin: 0;
  font-size: 15px;
  margin: auto;
}

.cimage {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:wght@200&display=swap");
@import url("http://fonts.cdnfonts.com/css/sofia-pro");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
